html,body{
    margin:0;
height:100%;
}

.section{
    overflow: auto;
    height:100%;
}

.leftsidebar{
    background-color:goldenrod;
    margin-right:0px;
    width:30%;
    height:100%;
    /*用absolute+margin-left*/
    position:absolute;
}

.main{
    width:70%;
    height:100%;
    background-color:skyblue;
    
    margin-left:30%;
    
}