html,body{
    margin:0;
height:100%;
}

.section{
    overflow: auto;
    height:100%;
}

.leftsidebar{
    background-color:goldenrod;
    margin-right:0px;
    width:30%;
    height:100%;
    /*ç”¨float+BFC*/
    float:left;
}

.main{
    width:70%;
    height:100%;
    background-color:skyblue;
    
    overflow:hidden;
}