html,body{
    margin:0;
height:100%;
}

.section{
    overflow:hidden;
    display:flex;
    height:100%; 
}

.leftsidebar{
    background-color:goldenrod;
    margin-right:0px;
    width:300px;
    height:100%;
    
    
}

.main{
    
    height:100%;
    background-color:skyblue;
    width:calc(100% - 300px);
    
}