html,body{
    margin:0;
height:100%;
}

.section{
    height:100%;
}

.leftsidebar{
    box-sizing:border-box;
    background-color:goldenrod;
    height:100%;
    width:300px;
    position:absolute;
    left:0px;
}
.main{
    box-sizing:border-box;
    background-color:skyblue;
    height:100%;
    width:500px;
    position:absolute;
    left:300px;
}

.rightsidebar{
    box-sizing:border-box;
    background-color:#99CC66;
    height:100%;
    position:absolute;
    left:800px;
    width:calc(100% - 800px);
}



