html,body{
    margin:0;
height:100%;
}

.section{
    height:100%;
}

.leftsidebar{
    box-sizing:border-box;
    background-color:goldenrod;
    height:100%;
    width:300px;
    float:left;
    
}
.main{
    box-sizing:border-box;
    background-color:skyblue;
    height:100%;
    width:500px;
    float:left;
}

.rightsidebar{
    box-sizing:border-box;
    background-color:#99CC66;
    height:100%;
    float:left;
    width:calc(100% - 800px);
}



